
:root {
  --primary: #06BBCC;
  --light: #F0FBFC;
  --dark: #181d38;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #FFFFFF;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link  {
      margin-right: 0;
      padding: 10px 0;
  }

  .navbar-light .navbar-nav {
      border-top: 1px solid #EEEEEE;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: .5s;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
      display: block;
      margin-top: 0;
      opacity: 0;
      visibility: hidden;
      transition: .5s;
  }

  .navbar .dropdown-menu.fade-down {
      top: 100%;
      transform: rotateX(-75deg);
      transform-origin: 0% 0%;
  }

  .navbar .nav-item:hover .dropdown-menu {
      top: 100%;
      transform: rotateX(0deg);
      visibility: visible;
      transition: .5s;
      opacity: 1;
  }
}


/*** Header carousel ***/
@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
      position: relative;
      min-height: 500px;
  }
  
  .header-carousel .owl-carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #FFFFFF;
  font-size: 22px;
  transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/carousel-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.page-header-inner {
  background: rgba(15, 23, 43, .7);
}


.page-header1 {
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/signup2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.page-header1-inner {
  background: rgba(15, 23, 43, .7);
}

.page-header2 {
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/course.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.page-header2-inner {
  background: rgba(15, 23, 43, .7);
}

.page-header3 {
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/contact.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.page-header3-inner {
  background: rgba(15, 23, 43, .7);
}

.page-header4 {
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/signin.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.page-header4-inner {
  background: rgba(15, 23, 43, .7);
}

.page-header5 {
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/testimonials.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.page-header5-inner {
  background: rgba(15, 23, 43, .7);
}

.page-header6 {
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/cat-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.page-header6-inner {
  background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}


/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}


/*** Service ***/
.service-item {
  background: var(--light);
  transition: .5s;
}

.service-item:hover {
  margin-top: -10px;
  background: var(--primary);
}

.service-item * {
  transition: .5s;
}

.service-item:hover * {
  color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
  transition: .5s;
}

.category a:hover img,
.course-item:hover img {
  transform: scale(1.1);
}


/*** Team ***/
.team-item img {
  transition: .5s;
}

.team-item:hover img {
  transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
      width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
      width: 300px;
  }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
  color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #CCCCCC;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/* -------for signup---------------------------------------- */
.image-container{
  background: url('../images/signup1.gif') center no-repeat;
  background-size: cover;
  height: 100vh;
}

.form-container{
  background-color: #fccc00;
  display: flex;
  justify-content: center;
}

.form-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.form-box h4{
  font-weight: bold;
  color: #fff;
}

.form-box .form-input{
  position: relative;
}

.form-box .form-input input{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border:none;
  border-radius: 5px;
  outline: none;
  background: white;
  padding-left: 45px;
}

.form-box .form-input span{
  position: absolute;
  top: 8px;
  padding-left: 20px;
  color: #777;
}

.form-box .form-input input::placeholder{
  padding-left: 0px;
}

.form-box .form-input input:focus,
.form-box .form-input input:valid{
  border-bottom: 2px solid #48403d;
}

.form-box input[type="checkbox"]:not(:checked) + label:before{
  background: transparent;
  border: 2px solid #fff;
  width: 15px;
  height: 15px;
}

.form-box .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
  background-color: #48403d;
  border: 0px;
}

.forget-link, .register-link, .login-link{
  color: #fff;
  font-weight: bold;
}

.forget-link:hover, .register-link:hover, .login-link:hover{
  color: #292525;
}

.form-box button[type="submit"]{
  border: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-right: 5px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  transition: 0.5s;
}

.form-box button[type="submit"]:hover{
  box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.55);
}

.form-box .btn-social{
  color: #fff;
  border: 0px;
  display: inline-block;
  margin: 0px;
  margin-right: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-box .btn-facebook{
  background: #4866a8;
}

.form-box .btn-google{
  background: #da3f34;
}

.form-box .btn-twitter{
  background: #33ccff;
}

.form-box .btn-facebook:hover{
  background: #3d5785;
  color: #fff;
}

.form-box .btn-google:hover{
  background: #bf3b31;
  color: #fff;
}

.form-box .btn-twitter:hover{
  background: #2eb7e5;
  color: #fff;
}


/*--------------------------------------------------------------
# index information3
--------------------------------------------------------------*/
.parallax {
  background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../images/E-learning-Infographic-Ideas.gif);
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

/*--------------------------------------------------------------
# index.html background video
--------------------------------------------------------------*/
.container2 {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container2 h1 {
  z-index: 1;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-position: center center;
}



/*--------------------------------------------------------------
# WebDesign 
--------------------------------------------------------------*/

.about-course h1 {
  font-size: 28px;
}

.course-info>p,
.course-info div span {
  font-size: 18px;
}

.course-info>p i {
  color: tomato;
}

.course-info>p span {
  color: orange;
}

.course-info>div {
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(183, 226, 243);
  margin-bottom: 16px;
}

.about-course h6 a {
  color: #21a7d0;
}

.about-course h6 a:hover {
  color: #269898;
}

.about-course .course-register-btn {
  background-color: rgb(28, 168, 121);
  color: #fff;
  border-color: rgb(28, 168, 121);
  font-weight: 600;
  transition: all ease-in-out 0.3s;
}

.about-course .course-register-btn:hover {
  background-color: rgb(212, 132, 67);
  border-color: rgb(212, 132, 67);
}


.single-chart {
  width: 10rem;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
}

.circle-bg {
  fill: none;
  stroke: #bbcbe4;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 2s ease-out forwards;
}

@keyframes progress {
  0% {
      stroke-dasharray: 0 95;
  }
}

.circular-chart .circle {
  stroke: #21a7d0;
}

.score {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.7em;
  text-anchor: middle;
}